  <body style="background-image: url(../img/2.png">
  <header>
    <h1>Welcome to the Campfire</h1>
    <nav class="navBar">
        <ul>
        <li><a href="#">Home</a></li>
        <li><a href="https://github.com/dhruza88/Project2-SMS-messenger">About</a></li>
      </ul>
    </nav>
  </header>

<div class="profile">
     <div>
        <h2>name: <a href="/user/{{id}}">{{username}}</a> </h3>
        <section class="card">   
            <h3>{{id}}</h3><br>
            <h3>{{email}}</h3><br>
            <p>{{bio}}</p><br>
    </section>
    </div>
</section>
</body>